@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Tinos:400,400i,700&display=swap&subset=cyrillic');

/* TYPOGRAPHY START */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 9rem;
}

.date h1 {
  font-size: 2.25rem;
}

.footer h1 {
  font-size: 2.25rem;
}

h2 {
  font-family: 'Tinos', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.75rem;
}

.cover h2 {
  font-size: 1.75rem;
}

.date h2 {
  font-size: 1.5rem;
}

h3 {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
}

h4 {
  font-family: 'Tinos';
  font-style: normal;
}

.date h3 {
  font-weight: bold;
  font-size: 2.75rem;
}

.break h3 {
  font-weight: normal;
  font-size: 2rem;
}

p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.25rem;

}

.cover p {
  font-size: 1.25rem;
}

.date p {
  font-size: 1.5rem;
}
/* TYPOGRAPHY END */

@media all and (max-device-width: 1024px ) {

  h1 {
    font-size: 6rem;
  }

  .break h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

@media all and (max-device-width: 768px ) {

  .date p {
    font-size: 1rem;
  }

  .break h3 {
    margin-bottom: 5px;
    font-size: 1.25rem;
  }

@media all and (max-device-width: 700px) {

  h1 {
    font-size: 4rem;
  }

  .cover h2 {
    font-size: 1.25rem;
  }

  .cover p {
    font-size: 1rem;
  }

  .date h3 {
    font-size: 2rem;
  }

  .break h3 {
    margin-bottom: 5px;
    font-size: 1.15rem;
  }

@media all and (max-device-width: 600px) {

  .break h3 {
    margin-bottom: 5px;
    font-size: 1rem;
  }

@media all and (max-device-width: 500px) {

  h1 {
    font-size: 3rem;
  }

  .cover h2 {
    font-size: 1rem;
  }

  .cover p {
    font-size: 0.75rem;
  }
}

@media all and (max-device-width: 425px) {

  .date h1 {
    font-size: 1.75rem;
  }

  .date h2 {
    font-size: 1.25rem;
  }

  .date h3 {
    font-size: 1.15rem;
  }

  .date p {
    font-size: 0.75rem;
  }

  .break h3 {
    margin-bottom: 3px;
    font-size: 0.75rem;
  }

  .footer h1 {
    font-size: 2rem;
  }

  .footer h3 {
    font-size: 2rem;
  }

  .footer p {
    font-size: 1rem;
  }

}
