
img {
  width: 100%;
  height: 100%;
}

/* Header */

.cover_image {
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 0px;

  z-index: -1;
}

.cover {
  display: flex;
  flex-direction: column;

  margin: 60vh 25vw 0 30vh;

}

.cover h2 {
  margin: 25px 0 25px 0;
}

/* Break 01*/
.break {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 80vh 25vw 80vh 25vw;
}

.animated {
  display: flex;
  flex-direction: row;
}

.invisible  {
  opacity: 0;
}

.invisible:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.visible {
  position: absolute;
  margin-top: -8vh;
  opacity: 1;
}

.visible:hover {
  opacity: 0;
  transition: all .2s ease-in-out;
}

/* Date */
.date_img {
  position: absolute;
  width: 50vw;
  height: 100vh;

  z-index: -1;
}

.img01 {
  left: 2vw;
  margin-top: -80vh;
}

.img02 {
  width: auto;
  left: 0;
  margin-top: -70vh;
}

.img03 {
  width: auto;
  right: 0;
  margin-top: -8vh;
}

.img04 {
  width: auto;
  right: 0;
  margin-top: -25vh;
}

.date {
  display: flex;
  justify-content: center;

  height:auto;

  margin: 0 20vw 0 20vw;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.second {
  text-align: left;
  align-items: flex-end
}

.date_year {
  display: flex;
  flex-direction: column;
  width: 320vw;
  height: auto;
}


.date_text {
  width: 320vw;
  height: auto;
}

.date_text h1 {
  padding-bottom: 20px;
}

.date_text p {
  padding-bottom: 50px;
}

.border {
  border-top: 2px solid black;

  padding-top: 50px;
}

/* Footer */

footer {
  height: 512px;

  margin: 0 250px 50px 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer p, h1, h3 {
  margin-bottom: 20px;
}

/* Responsive */

#a {
  display: block;
}

#a:hover + #b {
  display: block;
  transition: all .3s ease;
}

#b {
  display: none;
}

@media all and (max-device-width: 1024px ) {

  .cover {
    margin: 30vh 15vw 0 25vh;
  }

  .break {
    margin: 60vh 25vw 60vh 25vw;
  }

  .break img {
    width: 90%;
    height: 90%;
  }

  footer {
    margin: 0 100px 50px 100px;
  }


@media all and (max-device-width: 768px ) {
  .date {
    display: flex;
    justify-content: center;

    height:auto;

    margin: 0 20vw 0 20vw;
  }

  .left {
    flex-direction: column;
  }

  .right {
    flex-direction: column;
  }

  .date_year {
    width: 50vw;
    margin-bottom: 50px;
  }


  .date_text {
    width: 50vw;
  }

  .second {
    align-items: flex-start;
  }


  .footer {
    flex-direction: column;
  }

  .left_text {
    margin-bottom: 50px;
  }

  .break img {
    width: 60vw;
  }

  .date img {
    width: 80vw;
  }
}

@media all and (max-device-width: 700px) {

  .cover {
    margin: 30vh 10vw 0 10vh;
  }

  .date {
    margin: 0 10vw 0 10vw;
  }

  .break {
    margin: 30vh 20vw 30vh 20vw;
  }

@media all and (max-device-width: 600px) {

  footer {
    margin-top: 50px;
  }

  .break img {
    width: 90vw;
    margin-top: 20px;
  }

@media all and (max-device-width: 425px) {

  .cover h2 {
    margin: 10px 0 10px 0;
  }

  .date_year {
    margin-bottom: 20px;
  }

  .date {
    margin: 0 25vw 0 25vw;
  }

  footer {
    margin: 0 50px 50px 50px;
  }

}
